:root {
    --p1: #000000;
    --p2: #330040;
    --p3: #5d0076;
    --p4: #8900ae;
    --p5: #c900ff;
}

* {
    display: flex;
    flex-flow: column;
}

body {
    background: linear-gradient(0.25turn, var(--p2), var(--p5), var(--p2));
}

header {
}

.header h1 {
    margin-left: 50px;
    justify-content: a;
}

header p {
    justify-content: center;
}

main {
    
}

.card pre {
    user-select: all;
}


@media screen and (max-width: 992px) {
    xxx {

    }
}

@media screen and (max-width: 768x) {
    xxx {
        
    }
}

@media screen and (max-width: 576px) {
    xxx {
        
    }
}