:root {
    --p1: #000000;
    --p2: #330040;
    --p3: #5d0076;
    --p4: #8900ae;
    --p5: #c900ff;
}

* {
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(0.25turn, var(--p2), var(--p5), var(--p2));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 42px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

header p {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

main {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

main h1 {
    border: dashed;
    border-width: 2px;
    border-color: lightcyan;
    font-style: italic;
    color: yellowgreen;
    text-decoration: underline;
}

.card {
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    width: 400px;
    padding: 10px;
    margin: 5px;
}

.card p {
    font-size: 16px;
    color: white;
    text-decoration: underline dashed;
    text-decoration-color: var(--p5);
    align-items: center;
}

.card pre {
    user-select: all;
    border-style: groove;
    border-width: 1px;
    border-color: grey;
    background-color: var(--p2);
    color: white;
    height: auto;
    width: auto;
    padding: 20px;
}


@media screen and (max-width: 992px) {
    .card {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768x) {
    xxx {
        
    }
}

@media screen and (max-width: 576px) {
    header h1{
        margin-left: 50px;
    }
}